body {
    background-image: linear-gradient(to right, #f3f3de , #fefed3);
  }

  h1 {
    color: black;
    background-image: linear-gradient(to right, #d3d365, #fbfb3d);
    border: solid black;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25%;
}

div, .car {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 800px;
}

.car {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

.text {
    text-align: left;
    display: block;
    margin-top: 20px;
}

@media only screen and (max-width: 451px) {
    .car {
        width: 100%;
    }

    h1 {
        margin: 0px 10%;
    }
}